.inputfield{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #cac8ca;
    background: #ebe9eb;
}
.selectboxt {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #cac8ca;
    background-color: #ebe9eb;
}
.searclink{
  display: block;
  color:#f79131 !important;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: 47%;
}

.searclink:hover{
  text-decoration: none;
  color:#f79131;
}
.cvdrop{
  min-height:80px;
  height:auto;
  padding-left:15%;
  padding-right:15%;

}
.employee-label{
  padding-right: 5% !important;
  background: #1a5b85 !important;
}
@media screen and (min-width:768px){
  .employee-label{
    top:0px !important;
  }

}
@media screen and (max-width:767px) {
  .project-head{
    font-size: x-large !important;
  }
  .working-sublabel-span{
    font-size: x-large !important;
  }
  .wissen-care{
    padding-top: 18px !important;
  }
}

.career_oppurtunities{
  position: absolute;
  text-align: center;
  display: block;
  width:100%;
  top: 35%;
  color: white;
  font-size: 42px;
}
.carreer_BoxText {
  color: white ;
}
.carrer_BoxBg{
  background-image:url('../images/Box-1.jpg');
  background-size:cover;
  border: 10px solid white;
  padding: 33px 60px;
  min-height: 350px;
}
