.leadershipOuterAlign {
  margin-left: 5%;
  margin-top: 45px;
}
.fullWidthImg {
  width: 100%;
}
.leaderName {
  color: #f79131;
  font-family: Raleway-Bold;
  margin-bottom: 10px;
  font-size: 16px;
}
.leaderCard {
  border-bottom: 1px solid #B3B3B3;
  padding: 20px 0;
}
.leaderDescription {
  text-align: justify;
}
@media screen and (max-width:768px){
  .leaderImgAdj {
    margin-bottom: 15px;
  }
  .main-div{
    margin-top: 63px;
  }
  .leaderName {
    text-align: center;
  }
  .leaderDescription {
    padding: 0;
  }
}

.matrixImg {
  margin: 35px 0 15px 0;
}
.borderLine {
  border-bottom: 1px solid #BABABA;
}
.abtLeadership {
  background-image: url("../images/newBg.jpg");
  margin: 15px 0;
}
.leadershipHeader {
  background: #f79131;
  padding: 15px 44px;
  color: white;
  font-size: 23px;
}
.textChanges {
  color: white;
}
.leaderName {
  margin: 15px 0 7px 0;
  font-family: Raleway-Bold;
}
.contentsCenter {
  text-align: -webkit-center !important;
}
.knowMoreLink {
  color:#f79131;
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  font-family: Raleway-SemiBold;
}
.commonAlign {
  text-align: justify;
  color: #7B7B7B;
}
.centerPartnerSection {
  border-left: 1px solid #B6B6B6;
  border-right: 1px solid #B6B6B6;
}
.test-slider {
  background: rgba(247, 145, 49, 0.65);
  min-height: 400px;
}
.aboutBottomBg {
  background-image: url("../images/testBg.jpg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: top center;
}
.aboutTestimonialBg{
  background: rgba(247, 145, 49, 0.65);
}
.aboutTestimonialHead {
  background: #004179;
  color: white;
  font-size: 45px;
  padding: 9px 38px;
  font-family: Raleway-SemiBold;
}
