.leadershipOuterAlign {
  margin-left: 5%;
  margin-top: 45px;
}
.fullWidthImg {
  width: 100%;
}
.leaderName {
  color: #f79131;
  font-family: Raleway-Bold;
  margin-bottom: 10px;
  font-size: 16px;
}
.leaderCard {
  border-bottom: 1px solid #B3B3B3;
  padding: 20px 0;
}
@media screen and (max-width:768px){
  .leaderImgAdj {
    margin-bottom: 15px;
  }
  .leaderName {
    text-align: center;
  }
  .leaderDescription {
    padding: 0;
  }
}

.matrixImg {
  margin: 35px 0 15px 0;
}
.borderLine {
  border-bottom: 1px solid #BABABA;
}
.abtLeadership {
  background-image: url("../images/newBg.jpg");
  margin: 15px 0;
}
.leadershipHeader {
  background: #f79131;
  padding: 15px 44px;
  color: white;
  font-size: 23px;
}
.textChanges {
  color: white;
}
.leaderName {
  margin: 15px 0 7px 0;
  font-family: Raleway-Bold;
}
